<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <ul class="navigation">
            <li><a class="link active" href="/">Главная</a></li>
            <li><a class="link" href="/">LOGO</a></li>
            <li><a class="link" href="/contact">Вход/Регистрация</a></li>
        </ul>
    </nav>
    <main>
        <div class="content" id="content">
        </div>
    </main>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>
</html>